<div id="container"></div>
<!-- <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script> -->
<link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
<script src="https://billts.site/js/gitment.js"></script>
<script>
var name = document.title;
var gitment = new Gitment({
  id: name,
  owner: 'ashen-zhao',
  repo: 'ashen-zhao.github.io',
  oauth: {
    client_id: '4585ebc7069b58e7157b',
    client_secret: 'a035f4d415f49c378e638168f2ea3f72a19ab3cd',
  },
})
gitment.render('container')
</script>